* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #eee;
}

#container {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card {
  width: 400px;
  height: 450px;
  position: relative;
  user-select: none;
}

img,
canvas {
  border-radius: 10px;
}

#card:active {
  transform: scale(1.05);
}
